@define-color background #24292e;
@define-color foreground #dcd7ba;

@define-color popup-bg #223249;
@define-color popup-fg #2D4F67;

@define-color accent-fg #7E9CD8;
@define-color accent-bg #24292e;

/* Global Style */
* {
  border: none;
  font-family: "JetBrainsMono Nerd Font";
	font-weight: 400;
}

.modules-right {
  padding-right: 0.75rem;
}

window#waybar {
    background-color: @background;
    color: @foreground;
}

tooltip {
  background: @popup-bg;
  color: @popup-fg;
  border-radius: 16px;
  padding: 16px;
}

#workspaces {
  padding-left: 16px; padding-right: 16px;
  border-radius: 0px 24px 24px 0px;
}

#workspaces button {
  font-size: 16px;
  box-shadow: none; text-shadow: none;
  padding: 0px;
  min-width: 32px;
  color: @foreground;
}

#workspaces button.active,
#workspaces button.visible
{
  background: @foreground;
  color: @background;
}

#battery,
#backlight,
#network,
#pulseaudio,
#clock,
#custom-power,
#custom-media_player,
#custom-zeit {
  font-size: 18px;
  color: @foreground;
}

/* Custom */
#custom-archlinux_icon {
  font-size: 2rem;
  color: @foreground;
  padding-right: 2rem; padding-left: 0.75rem;
}

#custom-zeit.active,
#custom-misu.active
{
  color: @accent-fg;
}

/* Utility */
#custom-padding {
  min-width: 24px;
}
